<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SistemaDeAdocao</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
  	<description>DB Connection</description>
  	<res-ref-name>jdbc/SistemaDeAdocao</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  	<context-param>
    <param-name>addUser</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.AddUserHelper</param-value>
  </context-param>
  
  <context-param>
    <param-name>addAdocao</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.AddAdocaoHelper</param-value>
  </context-param>
  
  <context-param>
    <param-name>addEmployee</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.AddEmployeeHelper</param-value>
  </context-param>
  <context-param>
    <param-name>addAdm</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.AddAdmHelper</param-value>
  </context-param>
  <context-param>
    <param-name>login</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.LoginHelper</param-value>
  </context-param>
  <context-param>
    <param-name>logout</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.LogoutHelper</param-value>
  </context-param>
  <context-param>
    <param-name>listAnimals</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.ListAnimalsHelper</param-value>
  </context-param>
  
  <context-param>
    <param-name>listAdocoes</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.ListAdocaoHelper</param-value>
  </context-param>
  
  <context-param>
    <param-name>searchAnimals</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.SearchAnimalsHelper</param-value>
  </context-param>
  <context-param>
    <param-name>saveAnimal</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.SaveAnimalHelper</param-value>
  </context-param>
  <context-param>
    <param-name>updateAnimal</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.UpdateAnimalHelper</param-value>
  </context-param>
  <context-param>
    <param-name>deleteAnimal</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.DeleteAnimalHelper</param-value>
  </context-param>
  
  
  <context-param>
    <param-name>animalStatisticsByRaca</param-name>
    <param-value>br.edu.ifsp.arq.ads.servlets.helpers.AnimalStatisticsByRacaHelper</param-value>
  </context-param>
</web-app>