@charset "UTF-8";

body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to bottom right, #004080, #008080);
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.container {
	max-width: 400px;
	width: 100%;
	padding: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	color: #333;
}

.btn-primary {
	background-color: #004080;
	border-color: #004080;
	transition: background-color 0.3s ease;
	font-weight: 600;
}

.btn-primary:hover {
	background-color: #008080;
	border-color: #008080;
}

.btn-secondary {
	background-color: #6c757d;
	border-color: #6c757d;
	transition: background-color 0.3s ease;
}

.btn-secondary:hover {
	background-color: #5a6268;
	border-color: #545b62;
}

.input-group-text {
	background-color: #f8f9fa;
	border: none;
}

.input-group-text img {
	width: 20px;
	height: 20px;
}

.form-control {
	border-radius: 8px;
	box-shadow: none;
	padding-left: 45px;
}

.messages {
	margin-bottom: 20px;
}

.alert-success, .alert-danger {
	color: #ffffff;
	padding: 10px 15px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.alert-success {
	background-color: #28a745;
}

.alert-danger {
	background-color: #dc3545;
}